<div class="row" style="justify-content: center; align-items: center; display: flex; margin-top: 5%;">
  <div class="col-sm-4">
    <div class="jumbotron" style="padding: 5%; text-align: center">
      <h1 class="display-3">Thank you!</h1>
      <p class="lead">We appreciate your participation.</p>
    </div>
  </div>
</div>

