<div class="row">
  <div class="col-sm-4">
    <%= form_for(@snapshot) do |f| %>
      <% if @snapshot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@snapshot.errors.count, "error") %> prohibited this snapshot from being saved:</h2>

          <ul>
          <% @snapshot.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <label for="exampleTextarea">Write  a  program  that  will  read  in  integers  and
            output  their  average.    Stop  reading  when  the
            value 99999 is input.</label>
        <textarea class="form-control" id="exampleTextarea" rows="30"></textarea>
      </div>

      <div class="actions">
        <%= f.submit "Submit Solution", :class => 'btn btn-primary' %>
      </div>
    <% end %>

  </div>

</div>
