<div class="row">
  <div class="col-sm-4">

    <div class="form-group">
      <label for="snapshot-area">Write  a  program  that  will  read  in  integers  and
          output  their  average.    Stop  reading  when  the
          value 99999 is input.</label>
      <textarea class="form-control" id="snapshot-area" rows="30" onpaste="return false"></textarea>
    </div>

    <div class="actions">
      <button type="button" class="btn btn-primary", id='submit-solution'> Submit Solution </button>
    </div>

  </div>

</div>
